/*
Ron's Portfolio
Portfolio|CSS Layout
Author: Ronald Rowe
Date: 07/27/2020
Filename: layout2.css

*/

@font-face {
    font-family: roboto;
    src: url(RobotoSlab-VariableFont_wght.ttf);
}
/*Page Template*/
body{
    background-color: lightgray;
    font-family: roboto;
}

header{
    display: flex;
    align-items: center;
    height: 100px;
    margin: -10px;
}

div.headerimage {
    border-radius: 10px;
    width: 30%;
    height: 50px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.headerimage img {
    width: auto;
    height: 45px;
    margin-left: 25px;
}

div.headerimage a:hover {
    background-color: rgba(0, 0, 0, 35%);
    border-radius: 10px;
}

div.headerimage a.current:hover {
    background-color: transparent;
}

hr {
    background-color: blue;
    height: 1.5px;
}

/*Nav Styles*/
nav{
    height: 80px;
    width: 40%;
}

header ul{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 80px;
    margin: auto;
}

.navigation li {
    color: mediumblue;
    list-style-type: none;
    height: 50px;
    width: 135px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 2.5px;
}

.navigation a {
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
}

.navigation a:visited{
    color: mediumblue;
}


.navigation li:hover{
    color: white;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 35%);
}

.navigation .current a{
    color: #d4195e;
}

.navigation .current:hover{
    background-color: transparent;
}


ul.icon{
    width: 30%;
    justify-content: center;
}

.icon img{
    height: auto;
    width: 40px;
    padding-top: 3.5px;
}

.icon li {
    list-style-type: none;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 35%);
    margin: 0 2.5px;
    border-radius: 10px;
}

.icon img:hover {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}



/*Footer Styles*/

footer {
    visibility: hidden;
    margin-bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
    height: 50px;
    text-align: center;
}
/*Index Home Page Styles*/
section.mainpage h1 {
    font-size: 30px;
}
section.mainpage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    height: 500px;
    text-align: center;
}
.blue {
    color: mediumblue;
}
/*About Me Styles*/

.aboutme h1 {
    color: mediumblue;
}
div.aboutmewrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
section.aboutme {
    display: inline-block;
    width: 750px;
    margin: auto;
}
section.aboutme img {
    float: right;
    height: 400px;
    width: auto;
    margin: auto 10px;
    border: 4px groove blue;
}

section.aboutme p {
    text-align: left;
    font-size: 20px;
    text-decoration: none;
}

section.aboutme p a {
    text-decoration: none;
    color: mediumblue;
}

/*Project Page Styles*/

.headercenter {
    text-align: center;
    color: mediumblue;
}

div.projectdiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
div.projectdiv h2 {
    color: blue;
    text-align: left;
    margin-left: 15px;
}

section.projects {
    width: 700px;
    height: 500px;
    border-bottom: 2px groove blue;
    border-right: 2px groove blue;
    margin-bottom: 45px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}

/*Project Section Header Style*/

div.hwrapper {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

div.icons {
    display: flex;
    align-items: center;
}

img.githubimg {
    margin-right: 15px;
    height: 35px;
    width: auto;
}

img.liveicon {
    padding-top: 5px;
    margin-right: 15px;
    height: auto;
    width: 55px;
}

img.downloadicon {
    padding-top: 5px;
    height: 30px;
    width: auto;
    margin-right: 15px;
}

a.demolink {
    margin-right: 15px;
    font-size: 20px;
    color: red;
    text-decoration: none;
    font-weight: 700;
    font-variant-caps: small-caps;
}
/*Project Section Body Style*/

div.bwrapper {
    width: 100%;
    display: inline-block;
}
section.projects ul {
    display: block;
    text-align: left;
    margin-right: 15px;
}

img.projectimgshort {
    margin: auto;
    width: 60%;
    height: auto;
}
img.projectimgtall {
    float: right;
    height: 250px;
    width: auto;
    margin: auto 10px;
    border: 2px solid black;
}
section.projects img.projectimgtall:hover {
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -o-transform: scale(2);
    -ms-transform: scale(2);
    transform: scale(2);
}

/*Project Section Footer Style*/

section.projects p {
    width: 100%;
    font-size: 16px;
    text-align: center;
    margin: 10px 15px;
}




/*Resume Page Styles*/

div.resumewrapper {
    text-align: center;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
section.resume {
    width:90%;
}


/*Mobile Styles*/

@media only screen and (max-width: 900px) {
    /*Header Homepage Icon*/

    div.headerimage {
        width: 40%;
        justify-content: center;
    }

    .headerimage img {
        width: auto;
        height: 28px;
    }
    
    /*Navigation*/
    nav {
        width: 20%;
    }

    nav ul {
        flex-direction: column;
        height: 60px;
        margin-top: 10px;
    }

    .navigation li {
        margin: 3px auto;
        height: 40px;
        width: 100px;
        flex-direction: column;
    }

    .navigation a {
        font-size: 20px;
    }


    .navigation li:hover {
        color: white;
        border-radius: 10px;
        background-color: rgba(0, 0, 0, 35%);
    }

    /*Icon Styles*/
    ul.icon {
        width: 40%;
    }

    .icon img {
        height: auto;
        width: 36px;
        padding-top: 4.5px;
    }

    .icon li {
        list-style-type: none;
        height: 40px;
        width: 40px;
    }

    .icon img:hover {
        -webkit-transform: none;
        -moz-transform: none;
        -o-transform: none;
        -ms-transform: none;
        transform: none;
    }


    /*Homepagestyles*/

    section.mainpage h1 {
        font-size: 26px;
    }

    section.mainpage {
        width: 100%;
        height: auto;
    }

    /*About Me Page*/

    section.aboutme {
        width: 100%;
    }

    section.aboutme img {
            height: 200px;
            width: auto;
            border: 2px groove blue;
    }
    section.aboutme p {
            font-size: 18px;
    }


    /*Project Page*/


    /*Resume Page*/


    @media only screen and (max-width: 565px){

    }

}