/*
Ron's Portfolio
Portfolio|CSS Layout
Author: Ronald Rowe
Date: 07/27/2020
Filename: layout2.css

*/

@font-face {
    font-family: roboto;
    src: url(RobotoSlab-VariableFont_wght.ttf);
}
/*Page Template*/
body{
    background-color: lightblue;
    font-family: roboto;
}

header{
    display: flex;
    align-items: center;
    height: 100px;
    margin: -10px;
}

div.headerimage {
    border-radius: 10px;
    width: 30%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerimage img {
    width: 100%;
}

div.headerimage a:hover {
    background-color: rgba(0, 0, 0, 35%);
    border-radius: 10px;
}

div.headerimage a.current:hover {
    background-color: transparent;
}

hr {
    background-color: gray;
    height: 1.5px;
}

/*Nav Styles*/
nav{
    height: 80px;
    width: 40%;
}

ul{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 80px;
    margin: auto;
}

.navigation li {
    color: midnightblue;
    list-style-type: none;
    height: 50px;
    width: 135px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 2.5px;
}

.navigation a {
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
}

.navigation a:visited{
    color: midnightblue;
}


.navigation li:hover{
    color: white;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 35%);
}

.navigation .current a{
    color: #d4195e;
}

.navigation .current:hover{
    background-color: transparent;
}


ul.icon{
    width: 30%;
    justify-content: center;
}

.icon img{
    height: 40px;
    width: auto;
    padding-top: 3px;
}

.icon li {
    list-style-type: none;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 35%);
    margin: 0 2.5px;
    border-radius: 10px;
}

.icon img:hover {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}



/*Footer Styles*/

footer {
    margin-bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
    height: 50px;
    text-align: center;
}
/*Index Home Page Styles*/
section.mainpage{
    margin: auto;
    height: 500px;
    text-align: center;
}
/*About Me Styles*/

.aboutme h1 {
    color: navy;
}
div.aboutmewrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
section.aboutme {
    display: inline-block;
    width: 50%;
    margin: auto;
}
section.aboutme img {
    float: right;
    height: 400px;
    width: auto;
    margin: auto 10px;
    border: 4px groove blue;
}

section.aboutme p {
    text-align: left;
    font-size: 24px;
}

/*Project Page Styles*/

.headercenter {
    text-align: center;
    color: midnightblue;
}

div.projectdiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
div.projectdiv h2 {
    color: darkblue;
    text-align: left;
    margin-left: 15px;
}

section.projects {
    width: 45%;
    height: 500px;
    border-bottom: 2px groove blue;
    border-right: 2px groove blue;
    margin-bottom: 45px;
}
section.short {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
section.tall{
    display: inline-block;
}
section.projects p{
    margin: auto 10px;
}
div.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
div.icons {
    display: flex;
    align-items: center;
}
img.githubimg {
    margin-right: 15px;
    height: 55px;
    width: auto;
    float: right;
}
img.liveicon {
    margin-right: 15px;
    height: auto;
    width: 75px;
}
img.projectimgshort {
    margin: auto;
    width: 75%;
    height: auto;
}

img.projectimgtall {
    float: right;
    height: 50%;
    width: auto;
    margin-right: 10px;
    margin-left: 10px;
}
img.projectimg:hover {
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -o-transform: scale(2);
    -ms-transform: scale(2);
    transform: scale(2);
}
/*Contact Page Styles*/

form {
    display: flex;
    flex-direction: column;
    width: 350px;
}
